<div class="add-recipe-div">
  <mat-vertical-stepper color="accent" #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Recipe name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter recipe name</ng-template>
        <mat-form-field>
          <mat-label>Recipe name</mat-label>
          <input matInput placeholder="name" formControlName="firstCtrl" required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Minimum one ingredient is required">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Enter recipe ingredients</ng-template>
        <mat-form-field>
          <mat-label>Recipe name</mat-label>
          <input matInput placeholder="1 cup water" formControlName="firstCtrl" required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Recipe instructions required">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Enter recipe instructions</ng-template>
        <mat-form-field>
          <mat-label>Instruction</mat-label>
          <input matInput placeholder="Mix ingredients..." formControlName="secondCtrl"
                 required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Recipe image is required">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Add recipe image</ng-template>
        <mat-form-field>
          <mat-label>Upload Image</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                 required>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="fifthFormGroup" errorMessage="Make recipe public?">
      <form [formGroup]="fifthFormGroup">
        <ng-template matStepLabel>Choose recipe visibility option</ng-template>
        <mat-button-toggle-group formControlName="fifthCtrl" name="recipe-visibility">
          <mat-button-toggle value="private">Private</mat-button-toggle>
          <mat-button-toggle value="public">Public</mat-button-toggle>
        </mat-button-toggle-group>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button id="submit-btn" color="accent" mat-raised-button>Submit recipe</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>


</div>
