.add-recipe-div {
  background-color: #343434;
  color: white;
  height: 86.4vh;
  font-size: 1rem !important;
}

::ng-deep.mat-step-text-label{
  font-size: 1.25rem !important;
  padding-bottom: 10px !important;
}
