.add-recipe-div {
  background-color: #343434;
  color: white;
  position: absolute;
  top: 60px;
  bottom:60px;
  width:100%;
  font-size: 1rem !important;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}

mat-vertical-stepper {
  margin-top: 1rem;
}

::ng-deep.mat-step-text-label {
  font-size: 1.25rem !important;
  padding-bottom: 10px !important;
}

#submit-btn{
  margin-top: 1rem;
}

#preview-img{
  width: 300px;
}
