<div class="add-recipe-div">
  <form (ngSubmit)="addRecipe()">
  <mat-vertical-stepper color="accent" #stepper>
    <mat-step [stepControl]="recipeNameFormGroup" errorMessage="Recipe name is required.">
      <form [formGroup]="recipeNameFormGroup">
        <ng-template matStepLabel>Enter recipe name</ng-template>
        <mat-form-field color="accent">
          <mat-label>Recipe name</mat-label>
          <input matInput placeholder="name" formControlName="nameCtrl" required>
        </mat-form-field>
      </form>
    </mat-step>

    <mat-step [stepControl]="ingredientsFormGroup" errorMessage="Minimum one ingredient is required">
      <form [formGroup]="ingredientsFormGroup">
        <ng-template matStepLabel>Enter recipe ingredients</ng-template>
        <div formArrayName="ingredients">
          <div *ngFor="let ingredient of ingredients; let i = index;" [formGroupName]="i">
            <mat-form-field color="accent">
              <mat-label>Ingredient</mat-label>
              <input formControlName="ingredient" matInput placeholder="1 cup water">
            </mat-form-field>
            <button (click)="removeIngredient(i)" mat-icon-button matTooltip="Remove ingredient">
              <mat-icon>
                remove
              </mat-icon>
            </button>
          </div>
        </div>

        <div>
          <button (click)="addIngredient()" mat-icon-button matTooltip="Add ingredient">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="instructionsFormGroup" errorMessage="Minimum one instruction is required">
      <form [formGroup]="instructionsFormGroup">
        <ng-template matStepLabel>Enter recipe instruction</ng-template>
        <div formArrayName="instructions">
          <div *ngFor="let instruction of instructions; let i = index;" [formGroupName]="i">
            <mat-form-field color="accent">
              <mat-label>Instruction</mat-label>
              <input formControlName="instruction" matInput placeholder="Mix flour and water...">
            </mat-form-field>
            <button (click)="removeInstruction(i)" mat-icon-button matTooltip="Remove instruction">
              <mat-icon>
                remove
              </mat-icon>
            </button>
          </div>
        </div>

        <div>
          <button (click)="addInstruction()" mat-icon-button matTooltip="Add instruction">
            <mat-icon>
              add
            </mat-icon>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="imageFormGroup" errorMessage="Recipe image is required">
      <form [formGroup]="imageFormGroup">
        <ng-template matStepLabel>Link or upload recipe image</ng-template>

        <mat-button-toggle-group (change)="onValChange($event.value)">
          <mat-button-toggle value="link">Link</mat-button-toggle>
          <mat-button-toggle value="upload">Upload</mat-button-toggle>
        </mat-button-toggle-group>

        <div>
          <mat-form-field *ngIf="imageToggleVal == 'link'" color="accent">
            <mat-label>URL to image</mat-label>
            <input (change)="showPreview($event)" matInput type="url"
                   placeholder="https://www.gstatic.com/webp/gallery/1.webp"
                   formControlName="imageCtrl">
          </mat-form-field>
          <br>
          <mat-form-field *ngIf="imageToggleVal == 'upload'" color="accent">
            <input matInput [(ngModel)]="fileAttr" [ngModelOptions]="{standalone: true}" readonly name="name"/>
            <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
                   accept="image/*"/>
          </mat-form-field>
        </div>

        <div>
          <img id='preview-img' src="{{dataImage}}">
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="visibilityFormGroup" errorMessage="Make recipe public?">
      <form [formGroup]="visibilityFormGroup">
        <ng-template matStepLabel>Make recipe public</ng-template>
        <mat-button-toggle-group formControlName="visibilityCtrl" name="recipe-visibility">
          <mat-button-toggle value="true">Yes</mat-button-toggle>
          <mat-button-toggle value="false">No</mat-button-toggle>
        </mat-button-toggle-group>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button id="submit-btn" color="accent" mat-icon-button matTooltip="Submit recipe">
          <mat-icon>
            done
          </mat-icon>
        </button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
  </form>
</div>
