<mat-toolbar class="header" color="primary">
  <mat-icon>local_dining</mat-icon>
  <span class="tb-title">FoodBase</span>
  <span class="toolbar-spacer"></span>
  <a routerLink="">
    <button *ngIf="!browseRoute" mat-icon-button matTooltip="Browse recipes">
      <mat-icon>apps</mat-icon>
    </button>
  </a>
  <a routerLink="/login">
    <button *ngIf="!loginRoute" mat-icon-button matTooltip="Sign In">
      <mat-icon>login</mat-icon>
    </button>
  </a>
  <button *ngIf="loginRoute" mat-icon-button matTooltip="Sign Out" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
