<div class="main-content">
  <mat-grid-list appGridCols rowHeight="400px" gutterSize="1rem">
    <app-search-fab></app-search-fab>

    <mat-grid-tile *ngFor="let recipe of recipes">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{recipe.recipeName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{recipe.imageURL}}" alt="Photo">
        <mat-card-actions>
          <button mat-icon-button matTooltip="View recipe" (click)="openDialog(recipe)">
            <mat-icon>assignment</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
