<div class="main-content">
  <mat-grid-list appGridCols rowHeight="400px" gutterSize="1rem">
    <app-search-fab></app-search-fab>
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Food Name</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://www.gstatic.com/webp/gallery/1.webp" alt="Photo">
        <mat-card-actions>
          <button mat-icon-button matTooltip="View recipe" (click)="openDialog()">
            <mat-icon>assignment</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
