
.example-card {
  max-width: 350px;
}

mat-card {
  background-color: #1f4068 !important;
}

mat-card:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: white solid 0.1rem;
}

.main-content {

  padding: 16px;
  background-color: #343434;
}

.mat-card-header {
  justify-content: center;
}

mat-card-actions {
  margin-top: -25px;
  text-align: center;
}

#fav-btn{
  display: none;
}
