<div class="main-content">
  <div>
    <mat-paginator color="accent" [length]="recipes.length" pageSize=10
                   (page)="getPaginatorData($event)" [pageSizeOptions]="[1, 10, 20]"
                   showFirstLastButtons="false">
    </mat-paginator>
  </div>
  <div class="search">
    <mat-form-field color="accent">
      <input [(ngModel)]="searchText" type="text" matInput  placeholder="Search">
    </mat-form-field>
  </div>

  <div *ngIf="dataLoaded" class="cards-view">
  <mat-grid-list appGridCols rowHeight="400px" gutterSize="1rem">
    <app-search-fab></app-search-fab>

    <mat-grid-tile *ngFor="let recipe of (recipes | search: searchText | slice: lowValue : highValue)">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{recipe.recipeName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{recipe.imageURL}}" alt="Photo">
        <mat-card-actions>
          <button mat-icon-button matTooltip="View recipe" (click)="openDialog(recipe)">
            <mat-icon>assignment</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <div *ngIf="!dataLoaded" class="loadingData">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>

