<div class="main-content-div">
  <mat-tab-group color="accent">
    <mat-tab label="Sign In">
      <div class="login-form">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
          <mat-error *ngIf="password.invalid">{{getPassErrorMessag()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div>

          <p>Forgot password?</p>
          <div class="login-btns">
            <button (click)="resetPassword()" mat-stroked-button> Reset</button>
            <button mat-stroked-button (click)="signIn()"> Sign In</button>
          </div>

        </div>
      </div>
    </mat-tab>


    <mat-tab label="Register">
      <div class="login-form">
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Enter username</mat-label>
          <input type="text" matInput placeholder="username" [formControl]="username">
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" #emailOne [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Confirm your email</mat-label>
          <input matInput placeholder="pat@example.com" #emailTwo [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Enter your password</mat-label>
          <input matTooltip="Password should be atleast 8 characters in length" #passOne
                 matInput [type]="hide ? 'password' : 'text'" minlength="8" [formControl]="password">
          <mat-error *ngIf="password.invalid">{{getPassErrorMessag()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" color="accent">
          <mat-label>Confirm your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" minlength="8" [formControl]="password" #passTwo>
          <mat-error *ngIf="password.invalid">{{getPassErrorMessag()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div>

          <div class="login-btns register-btns">
            <button mat-stroked-button (click)="register()"> Register </button>
          </div>

        </div>
      </div>
    </mat-tab>

  </mat-tab-group>

</div>
