.login-form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1rem;
}

.mat-display-2{
  margin-bottom: 2rem !important;
}

::ng-deep.mat-tab-list,  ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-labels, ::ng-deep.mat-tab-label-active{
  font-size: 1.5rem !important;
}

mat-tab-group{
  margin-top: 2rem;
}

.login-btns{
  display: flex;
  justify-content: space-between;
}

.register-btns{
  justify-content: center;
  margin-top: 1rem;
}

.login-btns > button{
  color: white !important;
  font-size: 1rem;
}

button{
  border-color: #b0bec5 !important;
}
