<div class="main-content-div">
  <div class="edit-div">
    <mat-form-field>
      <mat-label>Recipe name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Recipe name</mat-label>
      <input matInput>
    </mat-form-field>

    <div>
      <mat-button-toggle-group>
        <mat-button-toggle value="private">Private</mat-button-toggle>
        <mat-button-toggle value="public">Public</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</div>
