.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: available;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0;
}

.mat-button-toggle {
  border-radius: 100% !important;
}
