<div class="row">
  <h2>Recipe Name</h2>
  <button mat-icon-button matTooltip="View recipe" (click)="openDialog()">
    <mat-icon>assignment</mat-icon>
  </button>

  <a routerLink="/editrecipe">
    <button mat-icon-button matTooltip="Edit recipe">
      <mat-icon> edit</mat-icon>
    </button>
  </a>

  <button mat-icon-button matTooltip="Delete recipe">
    <mat-icon> delete</mat-icon>
  </button>


  <mat-icon matTooltip="Private recipe"> public_off</mat-icon>


</div>
<mat-divider></mat-divider>

