<div class="row">
  <div class="item">
    <h2>{{recipe.recipeName}}</h2>
  </div>

  <div class="item">
    <button mat-icon-button matTooltip="View recipe" (click)="openDialog()">
      <mat-icon>assignment</mat-icon>
    </button>
  </div>

  <div class="item">
      <button (click)="editRecipe()" mat-icon-button matTooltip="Edit recipe">
        <mat-icon>edit</mat-icon>
      </button>
  </div>

  <div class="item">
    <button mat-icon-button matTooltip="Delete recipe" (click)="deleteRecipe()">
      <mat-icon> delete</mat-icon>
    </button>
  </div>

  <div class="item">
    <mat-icon matTooltip="{{tooltip}}"> {{icon}} </mat-icon>
  </div>

</div>
<mat-divider></mat-divider>

