.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  width: available;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item{
  flex-basis: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.mat-slide-toggle {
  border-radius: 100% !important;
}

::ng-deep.mat-slide-toggle-content{
  display: flex !important;
}
