.db-div {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  color: white;
  position: absolute;
  top: 60px;
  bottom:60px;
  width:100%;
  text-align: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.db-div::-webkit-scrollbar {
  display: none;
}

h3 {
  margin-top: 1rem;
}

.add-recipe-btn {
  top: auto !important;
  right: 20px !important;
  bottom: 70px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 1;
}

.loadingData{
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-paginator-range-label{
  display: none !important;
}

.search{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.search > p{
  font-size: 1.25rem;
}
