<div class="db-div">
  <div>
    <a routerLink="/addrecipe">
      <button class="add-recipe-btn" md-fab-bottom-right mat-fab color="accent" matTooltip="Add recipe">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>

  <h1> Stored Recipes: </h1>
  <mat-divider></mat-divider>
  <div>
    <!--  <div *ngFor="let recipe of recipes">-->
    <!--    <app-db-recipe-row [recipeName]="recipe.recipeName"></app-db-recipe-row>-->
    <app-db-recipe-row></app-db-recipe-row>
    <app-db-recipe-row></app-db-recipe-row>
    <app-db-recipe-row></app-db-recipe-row>
    <app-db-recipe-row></app-db-recipe-row>
  </div>

</div>

