<div class="db-div">
  <div>
    <mat-paginator color="accent" [length]="recipes.length" pageSize=10
                   (page)="getPaginatorData($event)" [pageSizeOptions]="[1, 10, 20]"
                   showFirstLastButtons="false">
    </mat-paginator>
  </div>
  <div class="search">
    <mat-form-field color="accent">
      <input [(ngModel)]="searchText" type="text" matInput  placeholder="Search">
    </mat-form-field>
  </div>

  <div *ngIf="dataLoaded" class="db-view">
    <div>
      <a routerLink="/addrecipe">
        <button class="add-recipe-btn" md-fab-bottom-right mat-fab color="accent" matTooltip="Add recipe">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>

    <mat-divider></mat-divider>

    <div *ngFor="let recipe of (recipes | search: searchText |  slice: lowValue : highValue)">
      <app-db-recipe-row [recipe]="recipe" (deleteThis)="deleteRecipe($event)"></app-db-recipe-row>
    </div>
  </div>
  <div *ngIf="!dataLoaded" class="loadingData">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>

