/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'inherit'
);
@include mat-core($custom-typography);


html, body {
}

body {
  margin: 0;
  font-family: Cairo, "Helvetica Neue", sans-serif;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: #162447 !important;
}
