<div>
  <h1 mat-dialog-title>{{recipeName}}</h1>
  <p class="username">By: {{username}}</p>
</div>

<mat-dialog-content class="mat-typography">
  <h2>Ingredients: </h2>
  <mat-chip-list>
    <mat-chip color="accent"*ngFor="let ingredient of ingredients">{{ingredient}}</mat-chip>
  </mat-chip-list>
  <br>
  <h2>Directions: </h2>
  <ol >
    <li *ngFor="let instruction of instructions"><p>{{instruction}}</p></li>
  </ol>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <a href="{{imageURL}}" target="_blank">
    <button mat-icon-button matTooltip="View image">
      <mat-icon>image</mat-icon>
    </button>
  </a>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
